md-content.md-default-theme {
    background-color: #eee;
}

md-card {
    /*background-color: #fff;*/
}

md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}

.md-toolbar-tools-bottom:last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

md-sidenav {
    fill: #737373;
}

md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}

.user-avatar {
    border-radius: 99%;
}

/*/////////////*/
.nav-active {
    background: #2ed5b3;
}

.nav-click {
    position: relative;
}

.cursorPointer {
    cursor: pointer;
}

/*toast����*/
md-toast.md-success-toast-theme .md-toast-content {
    background-color: green;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: maroon;
}

/*md-toast {*/
/*left: calc(50vw - 150px);*/
/*}*/

.login_body {
    background-image: url("../img/s3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}