<!-- 1. nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
<div ng-controller="uploadCtrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

    <div class="container">

        <div class="row">

            <div class="col-md-3">

                <h3>Select files</h3>

                <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                Multiple
                <input type="file" nv-file-select="" uploader="uploader" multiple/><br/>

                <!--Single-->
                <!--<input type="file" nv-file-select="" uploader="uploader"/>-->
            </div>

            <div class="col-md-9" style="margin-bottom: 40px">

                <h3>Upload queue</h3>
                <p>Queue length: {{ uploader.queue.length }}</p>

                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <md-progress-linear md-mode="determinate" value="{{item.progress}}"></md-progress-linear>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <md-button class="md-raised md-primary" ng-click="item.upload()"
                                       ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <md-icon>
                                    <ng-md-icon icon="cloud_upload"></ng-md-icon>
                                </md-icon>
                                Upload
                            </md-button>
                            <md-button class="md-raised warning" ng-click="item.cancel()"
                                       ng-disabled="!item.isUploading">
                                <md-icon>
                                    <ng-md-icon icon="cloud_off"></ng-md-icon>
                                </md-icon>
                                Cancel
                            </md-button>
                            <md-button class="md-raised md-warn" ng-click="item.remove()">
                                <md-icon>
                                    <ng-md-icon icon="delete"></ng-md-icon>
                                </md-icon>
                                Remove
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <div>
                        Queue progress:
                        <md-progress-linear md-mode="determinate" value="{{uploader.progress}}"></md-progress-linear>
                    </div>
                    <md-button class="md-raised md-primary" ng-click="uploader.uploadAll()"
                               ng-disabled="!uploader.getNotUploadedItems().length">
                        <md-icon>
                            <ng-md-icon icon="cloud_upload"></ng-md-icon>
                        </md-icon>
                        Upload all
                    </md-button>
                    <md-button class="md-raised warning" ng-click="uploader.cancelAll()"
                               ng-disabled="!uploader.isUploading">
                        <md-icon>
                            <ng-md-icon icon="cloud_off"></ng-md-icon>
                        </md-icon>
                        Cancel all
                    </md-button>
                    <md-button class="md-raised md-warn" ng-click="uploader.clearQueue()"
                               ng-disabled="!uploader.queue.length">
                        <md-icon>
                            <ng-md-icon icon="delete"></ng-md-icon>
                        </md-icon>
                        Remove all
                    </md-button>
                </div>

            </div>

        </div>

    </div>

</div>

