<div ng-controller="registerCtrl">
    <div layout="row" layout-align="start center" flex-offset="5">
        <md-card  flex-xs="80" flex="40">
            <md-card-title>
                <md-card-title-text md-theme="dark-purple">
                    <span class="md-headline">注册账号</span>
                </md-card-title-text>
            </md-card-title>
            <md-divider></md-divider>
            <md-card-content>
                <form name="registerForm">
                    <md-input-container class="md-block">
                        <label>账号</label>
                        <md-icon>
                            <ng-md-icon icon="account_circle"></ng-md-icon>
                        </md-icon>
                        <input ng-model="register_info.account" type="text" name="account" required>
                        <div ng-messages="registerForm.account.$error">
                            <div ng-message="required">必填</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>邮箱</label>
                        <md-icon>
                            <ng-md-icon icon="email"></ng-md-icon>
                        </md-icon>
                        <input ng-model="register_info.email" type="email" name="email" required>
                        <div ng-messages="registerForm.email.$error">
                            <div ng-message="required">必填</div>
                            <div ng-message="email">请输入有效邮箱</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>密码</label>
                        <md-icon>
                            <ng-md-icon icon="lock"></ng-md-icon>
                        </md-icon>
                        <input ng-model="register_info.password" type="password" name="password" ng-pattern="/^[a-zA-Z]\w{5,17}$/" required>
                        <div ng-messages="registerForm.password.$error">
                            <div ng-message="required">必填</div>
                            <div ng-message="pattern" >密码必须是英文字母开头，并由英文字母和数字组成,至少6位</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>确认密码</label>
                        <md-icon>
                            <ng-md-icon icon="lock"></ng-md-icon>
                        </md-icon>
                        <input ng-model="register_info.password2" type="password" name="password2" ng-pattern="{{register_info.password}}"  required>
                        <div ng-messages="registerForm.password2.$error">
                            <div ng-message="required">必填</div>
                            <div ng-message="pattern" >请确认密码一致</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>角色</label>
                        <md-icon>
                            <ng-md-icon icon="person"></ng-md-icon>
                        </md-icon>
                        <md-select name="role" ng-model="register_info.role" required>
                            <md-option ng-value="role.value" ng-repeat="role in selected.roles">{{ role.option }}</md-option>
                        </md-select>
                        <div ng-messages="registerForm.role.$error">
                            <div ng-message="required">必填</div>
                        </div>
                    </md-input-container>

                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ng-click="registerFun()" ng-disabled="registerForm.$invalid||btnDisable">注册</md-button>
                    </md-card-actions>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>