<div >
    <p class="input-group" style="margin: 0; width: 100%;">
        <input type="text" class="form-control" datetime-picker="yyyy-MM-dd" ng-model="bindModel" is-open="picker_date.open"
               datepicker-options="picker_date.calendarOptions" enable-time="picker_date.enableTime"
               button-bar="buttonBar" required/>
      <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i
                  class="fa fa-calendar"></i></button>
      </span>
    </p>
</div>