<div ng-controller="tabClinicalCourseController">
    <div class="row form-line">
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">病例特点</span>
                <textarea rows="3" class="form-control" ng-model="clinical_course.ill_description"> </textarea>
            </div>
        </div>
    </div>

    <div class="row form-line">
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">初步诊断</span>
                <textarea rows="3" class="form-control" ng-model="clinical_course.init_diag"></textarea>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">治疗计划</span>
                <textarea rows="3" class="form-control" ng-model="clinical_course.treat_plan"></textarea>
            </div>
        </div>
    </div>

    <div class="row form-line">
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">诊断依据</span>
                <textarea rows="1" class="form-control" ng-model="clinical_course.gist"> </textarea>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">鉴别诊断</span>
                <textarea rows="1" class="form-control" ng-model="clinical_course.antidiastole"></textarea>
            </div>
        </div>

    </div>

    <div ng-repeat="item in check_record track by $index">
        <div ng-include="'html/widget/check_record.html'"></div>
    </div>

</div>