<div ng-controller="tabPatientController">
    <div class="row form-line">
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">入院时间</span>
                <date-picker ng-model="leave.in_date"></date-picker>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">出院时间</span>
                <date-picker ng-model="leave.out_date"></date-picker>
            </div>
        </div>
    </div>

    <div class="row form-line">
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">入院病情描述</span>
                <textarea rows="3" class="form-control" ng-model="leave.description" required></textarea>
            </div>
        </div>
    </div>

    <div class="row form-line">
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">初步诊断</span>
                <input type="text" class="form-control" ng-model="leave.init_diag" required>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">出院诊断</span>
                <input type="text" class="form-control" ng-model="leave.leave_diag" required>
            </div>
        </div>
    </div>

    <div class="row form-line">
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">治疗过程</span>
                <textarea rows="3" class="form-control" ng-model="leave.treatment" required></textarea>
            </div>
        </div>

        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">出院医嘱</span>
                <textarea rows="3" class="form-control" ng-model="leave.advice" required></textarea>
            </div>
        </div>
    </div>

</div>