<div ng-controller="tabHospitalizedController">
    <div class="row form-line">
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">主诉</span>
                <textarea rows="1" class="form-control" ng-model="hospitalized.complain" required> </textarea>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">现病史</span>
                <textarea rows="1" class="form-control" ng-model="hospitalized.present_illness" required></textarea>
            </div>
        </div>
    </div>

    <div class="row form-line">
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">近期</span>
                <textarea rows="1" class="form-control" ng-model="hospitalized.recent" required> </textarea>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">既往史</span>
                <textarea rows="1" class="form-control" ng-model="hospitalized.history_illness" required></textarea>
            </div>
        </div>
    </div>

    <div class="row form-line">
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">家族史</span>
                <textarea rows="1" class="form-control" ng-model="hospitalized.family_illness" required> </textarea>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="input-group">
                <span class="input-group-addon">入院诊断</span>
                <textarea rows="1" class="form-control" ng-model="hospitalized.admits_diag" required> </textarea>
            </div>
        </div>
    </div>

    <div class="row form-line">

        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">体格检查</span>
                <textarea rows="3" class="form-control" ng-model="hospitalized.physical_exam" required> </textarea>
            </div>
        </div>
    </div>

    <div class="row form-line">
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">整形外科情况</span>
                <textarea rows="3" class="form-control" ng-model="hospitalized.surgery" required> </textarea>
            </div>
        </div>

    </div>

    <div class="row form-line">
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">辅助检查</span>
                <textarea rows="2" class="form-control" ng-model="hospitalized.assist_exam" required></textarea>
            </div>
        </div>
    </div>


</div>
