<md-toolbar class="md-table-toolbar md-default" >
    <!--ng-show="!options.rowSelection || !selected.length">-->
    <div class="md-toolbar-tools">
        <md-input-container md-no-float class="md-block" style="margin-top: 58px">
            <!--<md-icon class="md-raised md-mini md-primary">-->
            <!--<ng-md-icon icon="search"></ng-md-icon>-->
            <!--</md-icon>-->
            <input ng-model="filter.search" type="text" placeholder="页内搜索">
        </md-input-container>

        <span flex></span>

        <div layout="row" style="margin-top: 35px">
            <md-input-container md-no-float class="md-block">
                <!--<label>搜索项</label>-->
                <md-select name="search_type" ng-model="query.search_type">
                    <md-option ng-value="key" ng-repeat="(key, value) in search_type_select">{{ value }}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container md-no-float class="md-block">
                <input name="search" ng-model="query.search" type="text" placeholder="搜索">
            </md-input-container>

        </div>
        <md-button class="md-raised md-mini md-primary" ng-click="getBaseInfoList(0, 50)">
            <md-icon>
                <ng-md-icon icon="search"></ng-md-icon>
            </md-icon>
        </md-button>
        <md-button class="md-raised md-mini md-primary" ng-click="loadStuff()">
            <md-icon>
                <ng-md-icon icon="refresh"></ng-md-icon>
            </md-icon>
        </md-button>
    </div>
</md-toolbar>

<!--<md-toolbar class="md-table-toolbar md-warn" ng-show="options.rowSelection && selected.length">-->
    <!--<div class="md-toolbar-tools">-->
        <!--<md-button class="md-raised md-mini md-primary" ng-click="showDetail($event)">-->
            <!--<md-icon>-->
                <!--<ng-md-icon icon="details"></ng-md-icon>-->
            <!--</md-icon>-->
            <!--详细信息-->
        <!--</md-button>-->
    <!--</div>-->
<!--</md-toolbar>-->

<md-table-container>
    <table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}"
           data-ng-model="selected" md-progress="promise">
        <thead ng-if="!options.decapitate" md-head data-md-order="query.order" md-on-reorder="onReorder">
        <tr md-row>
            <th md-column data-md-order-by="_id"><span>ID</span></th>
            <th md-column data-md-order-by="name"><span>姓名</span></th>
            <th md-column><span>年龄</span></th>
            <th md-column data-md-order-by="province"><span>省份</span></th>
            <th md-column data-md-order-by="district"><span>城市</span></th>
            <th md-column data-md-order-by="main_diagnosis"><span>主要诊断</span></th>
            <th md-column data-md-order-by="else_diagnosis"><span>其他诊断</span></th>
            <th md-column data-md-order-by="main_surgery"><span>主要手术</span></th>
            <th md-column data-md-order-by="else_surgery"><span>其他手术</span></th>
            <th md-column data-md-order-by="dataer" data-hide-sm><span>录入者</span></th>
            <th md-column data-md-order-by="create_time" data-hide-sm><span>录入时间</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="dessert" md-select-id="_id" data-md-on-select="log" md-on-deselect="deselect"
            x-md-auto-select="options.autoSelect"
            data-ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order ">
            <td md-cell>{{dessert._id}}</td>
            <td md-cell>{{dessert.name}}</td>
            <td md-cell>{{dessert.age}}</td>
            <td md-cell>{{dessert.province}}</td>
            <td md-cell>{{dessert.district}}</td>
            <td md-cell>{{dessert.main_diagnosis}}</td>
            <td md-cell>{{dessert.else_diagnosis}}</td>
            <td md-cell>{{dessert.main_surgery}}</td>
            <td md-cell>{{dessert.else_surgery}}</td>
            <td md-cell>{{dessert.dataer}}</td>
            <td md-cell>{{dessert.create_time}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<data-md-table-pagination md-limit="query.limit" md-page="query.page"
                          md-total="{{desserts.count}}" md-on-paginate="onPaginate" md-page-select="options.pageSelect"
                          md-boundary-links="options.boundaryLinks"></data-md-table-pagination>