<div layout="row">
    <div flex>
        <md-card md-whiteframe="5">
            <md-datetime-inline init-datatime="description[$index].date" datetime-mode="datetime"
                                placeholder="时间"
                                date-changed="dateChange()">
            </md-datetime-inline>
            <md-input-container>
                <label>术后病程</label>
                <textarea required name="content" ng-model="description[$index].content"  rows="2"
                          md-select-on-focus>
                    </textarea>
                <div ng-messages="projectForm.content.$error">
                    <div ng-message="required">必填</div>
                </div>
            </md-input-container>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-click="addRecord()">增加记录</md-button>
                <md-button class="md-fab md-mini">
                    {{$index + 1}}
                </md-button>
                <md-button class="md-raised md-warn" ng-click="delRecord($index)" ng-disabled="$index==0">删除记录</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>