<div layout="row">
    <div flex>
        <md-card md-whiteframe="5">
            <div layout="row">
                <md-datetime-inline flex="30" init-datatime="long_items[$index].start_datetime" datetime-mode="datetime" placeholder="开始时间"
                                    date-changed="dateChange()">
                </md-datetime-inline>
                <md-input-container flex>
                    <label>医嘱</label>
                    <input required name="medical_order" ng-model="long_items[$index].medical_order">
                    <div ng-messages="projectForm.medical_order.$error">
                        <div ng-message="required">必填</div>
                    </div>
                </md-input-container>

            </div>

            <div layout="row">
                <md-datetime-inline flex="30" init-datatime="long_items[$index].start_execute_datetime" datetime-mode="datetime"
                                    placeholder="开始执行时间"
                                    date-changed="dateChange()">
                </md-datetime-inline>
                <md-input-container flex>
                    <label>开始执行医生</label>
                    <input required name="start_execute_doctor" ng-model="long_items[$index].start_execute_doctor">
                    <div ng-messages="projectForm.start_execute_doctor.$error">
                        <div ng-message="required">必填</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>开始执行护士</label>
                    <input required name="start_execute_nurse" ng-model="long_items[$index].start_execute_nurse">
                    <div ng-messages="projectForm.start_execute_nurse.$error">
                        <div ng-message="required">必填</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="row">
                <md-datetime-inline flex="30" init-datatime="long_items[$index].stop_datetime" datetime-mode="datetime"
                                    placeholder="停止时间"
                                    date-changed="dateChange()">
                </md-datetime-inline>
                <md-input-container flex>
                    <label>停止执行医生</label>
                    <input required name="stop_execute_doctor" ng-model="long_items[$index].stop_execute_doctor">
                    <div ng-messages="projectForm.stop_execute_doctor.$error">
                        <div ng-message="required">必填</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>停止执行护士</label>
                    <input required name="stop_execute_nurse" ng-model="long_items[$index].stop_execute_nurse">
                    <div ng-messages="projectForm.stop_execute_nurse.$error">
                        <div ng-message="required">必填</div>
                    </div>
                </md-input-container>
            </div>

            <md-datetime-inline  init-datatime="long_items[$index].stop_execute_datetime" datetime-mode="datetime"
                                placeholder="停止执行时间"
                                date-changed="dateChange()">
            </md-datetime-inline>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-click="addRecord()">增加记录</md-button>
                <md-button class="md-fab md-mini">
                    {{$index + 1}}
                </md-button>
                <md-button class="md-raised md-warn" ng-click="delRecord($index)" ng-disabled="$index==0">删除记录</md-button>
            </md-card-actions>

        </md-card>
    </div>
</div>