<from ng-controller="formTabsCtrl" name="projectForm">
    <!--<md-content class="md-padding">-->
    <md-tabs class="md-primary" md-border-bottom md-dynamic-height="" md-border-bottom="">
        <md-tab ng-repeat="tab in tabs"
                ng-disabled="tab.disabled"
                label="{{tab.title}}"
                layout="row">
            <div class="inset" hide-sm></div>
            <div layout="row" layout-align="center center">
                <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                        <div layout="row">
                            <div flex>
                                <md-card>
                                    <md-input-container>
                                        <label>Client Name</label>
                                        <input required name="clientName" ng-model="project.clientName">
                                        <div ng-messages="projectForm.clientName.$error">
                                            <div ng-message="required">必填.</div>
                                        </div>
                                    </md-input-container>
                                </md-card>
                            </div>
                            <div flex>
                                <md-card>
                                    <md-input-container>
                                        <label>Client Name</label>
                                        <input required name="clientName" ng-model="project.clientName">
                                        <div ng-messages="projectForm.clientName.$error">
                                            <div ng-message="required">必填.</div>
                                        </div>
                                    </md-input-container>
                                </md-card>
                            </div>
                        </div>

                        <div layout="row">
                            <div flex>
                                <md-card>
                                    <md-input-container>
                                        <label>Client Name</label>
                                        <input required name="clientName" ng-model="project.clientName">
                                        <div ng-messages="projectForm.clientName.$error">
                                            <div ng-message="required">必填.</div>
                                        </div>
                                    </md-input-container>
                                </md-card>
                            </div>
                            <div flex>
                                <md-card>
                                    <md-input-container>
                                        <label>姓名</label>
                                        <input required name="clientName1" ng-model="project.clientName1">
                                        <div ng-messages="projectForm.clientName1.$error">
                                            <div ng-message="required">必填.</div>
                                        </div>
                                    </md-input-container>
                                </md-card>
                            </div>
                        </div>

                        <md-input-container class="md-block">
                          <label>Description</label>
                          <input md-maxlength="30" required md-no-asterisk name="description" ng-model="project.description">
                          <div ng-messages="projectForm.description.$error" ng-show="projectForm.description.$touched">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
                          </div>
                        </md-input-container>


                    </md-card-content>
                </md-card>
            </div>
        </md-tab>
    </md-tabs>
    <!--</md-content>-->
</from>

