<div class="row form-line">
    <div class="col-xs-9">
        <div class="input-group">
            <span class="input-group-addon">查房记录
            </span>
            <!--<input type="datetime-local" class="form-control" ng-model="check_record[$index].date" required>-->
            <div ng-repeat="model in [check_record[$index].date]" ng-include="'html/widget/datepicker/datetimepicker.html'"></div>
            <textarea rows="3" class="form-control" ng-model="check_record[$index].content" required></textarea>
        </div>
    </div>
    <div class="col-xs-1">
        <br>
        <button class="button button-action button-circle button-small button-glow" ng-click="addRecord()"><i
                class="fa fa-plus"></i></button>
        <button class="button button-primary button-box button-small"><i>{{$index + 1}}</i></button>
        <button class="button button-highlight button-circle button-small button-glow"
                ng-click="delRecord($index)" ng-hide="$index==0">
            <i class="fa fa-minus"></i></button>
    </div>
</div>