<div class="row form-line">
    <div class="col-xs-10">
        <div class="input-group">
            <span class="input-group-addon">查房记录<br><br>
                <a class="glyphicon glyphicon-plus" ng-click="addRecord()"></a>
                <br>
                <a class="glyphicon glyphicon-minus" ng-click="delRecord($index)"></a>
            </span>
            <input type="datetime-local" class="form-control" ng-model="check_record.datetime">
            <textarea rows="3" class="form-control" ng-model="check_record.record"></textarea>
        </div>
    </div>
</div>