<div class="row form-line">
    <div class="col-xs-5">
        <div class="input-group">
            <span class="input-group-addon">开始时间</span>
            <datetime-picker ng-model="long_items[$index].start_datetime"></datetime-picker>

        </div>
        <div class="input-group">
            <span class="input-group-addon">医嘱</span>
            <input type="text" class="form-control" ng-model="long_items[$index].medical_order" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">开始执行医生</span>
            <input type="text" class="form-control" ng-model="long_items[$index].start_execute_doctor" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">开始执行护士</span>
            <input type="text" class="form-control" ng-model="long_items[$index].start_execute_nurse" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">开始执行时间</span>
            <datetime-picker ng-model="long_items[$index].start_execute_datetime"></datetime-picker>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="input-group">
            <span class="input-group-addon">停止时间</span>
            <datetime-picker ng-model="long_items[$index].stop_datetime"></datetime-picker>
        </div>
        <div class="input-group">
            <span class="input-group-addon">停止执行医生</span>
            <input type="text" class="form-control" ng-model="long_items[$index].stop_execute_doctor" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">停止执行护士</span>
            <input type="text" class="form-control" ng-model="long_items[$index].stop_execute_nurse" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">停止执行时间</span>
            <datetime-picker ng-model="long_items[$index].stop_execute_datetime"></datetime-picker>
        </div>
    </div>
    <div class="col-xs-1">
        <br>
        <button class="button button-action button-circle button-small button-glow" ng-click="addRecord()"><i
                class="fa fa-plus"></i></button>
        <button class="button button-primary button-box button-small"><i>{{$index + 1}}</i></button>
        <button class="button button-highlight button-circle button-small button-glow"
                ng-click="delRecord($index)" ng-hide="$index==0">
            <i class="fa fa-minus"></i></button>
    </div>

</div>

