<div layout="row">
    <div flex>
        <md-card md-whiteframe="5">
            <!--<md-datetime-inline init-datatime="leave.in_date" datetime-mode="date" placeholder="入院时间"-->
                                <!--date-changed="dateChange()">-->
            <!--</md-datetime-inline>-->
            <md-input-container>
                <label>入院日期</label>
                <input name="in_date" ng-model="leave.in_date" ng-pattern="date_format">
                <div ng-messages="projectForm.in_date.$error">
                    <div ng-message="pattern">日期格式:YYYY-MM-DD</div>
                </div>
            </md-input-container>
        </md-card>
    </div>

    <div flex>
        <md-card md-whiteframe="5">
            <!--<md-datetime-inline init-datatime="leave.out_date" datetime-mode="date" placeholder="出院时间"-->
                                <!--date-changed="dateChange()">-->
            <!--</md-datetime-inline>-->
            <md-input-container>
                <label>出院日期</label>
                <input name="out_date" ng-model="leave.out_date" ng-pattern="date_format">
                <div ng-messages="projectForm.out_date.$error">
                    <div ng-message="pattern">日期格式:YYYY-MM-DD</div>
                </div>
            </md-input-container>
        </md-card>
    </div>
</div>

<div layout="row">
    <div flex>
        <md-card md-whiteframe="5">
            <md-input-container>
                <label>入院病情描述</label>
                <textarea name="description" ng-model="leave.description" rows="1" ></textarea>
                <!--<div ng-messages="projectForm.description.$error">-->
                    <!--<div ng-message="required">必填</div>-->
                <!--</div>-->
            </md-input-container>
        </md-card>
    </div>
</div>

<div layout="row">
    <div flex>
        <md-card md-whiteframe="5">
            <md-input-container>
                <label>初步诊断(请用英文','分隔多个诊断)</label>
                <input name="init_diag" ng-model="leave.init_diag">
                <!--<div ng-messages="projectForm.init_diag.$error">-->
                    <!--<div ng-message="required">必填</div>-->
                <!--</div>-->
            </md-input-container>
        </md-card>
    </div>
    <div flex>
        <md-card md-whiteframe="5">
            <md-input-container>
                <label>出院诊断(请用英文','分隔多个诊断)</label>
                <input name="leave_diag" ng-model="leave.leave_diag">
                <!--<div ng-messages="projectForm.leave_diag.$error">-->
                    <!--<div ng-message="required">必填</div>-->
                <!--</div>-->
            </md-input-container>
        </md-card>
    </div>
</div>

<div layout="row">
    <div flex>
        <md-card md-whiteframe="5">
            <md-input-container>
                <label>治疗过程(请用英文','分隔多个手术)</label>
                <textarea name="treatment" ng-model="leave.treatment" rows="2" ></textarea>
                <!--<div ng-messages="projectForm.treatment.$error">-->
                    <!--<div ng-message="required">必填</div>-->
                <!--</div>-->
            </md-input-container>
        </md-card>
    </div>
    <div flex>
        <md-card md-whiteframe="5">
            <md-input-container>
                <label>出院医嘱</label>
                <textarea required name="advice" ng-model="leave.advice" rows="2" ></textarea>
                <div ng-messages="projectForm.advice.$error">
                    <div ng-message="required">必填</div>
                </div>
            </md-input-container>
        </md-card>
    </div>
</div>