<div>
    <div layout="row">
        <div flex>
            <md-card md-whiteframe="5">
                <md-input-container>
                    <label>病例特点</label>
                    <textarea name="ill_description" ng-model="clinical_course.ill_description" rows="5"
                              md-select-on-focus>
                    </textarea>
                    <!--<div ng-messages="projectForm.ill_description.$error">-->
                        <!--<div ng-message="required">必填</div>-->
                    <!--</div>-->
                </md-input-container>
            </md-card>
        </div>
    </div>

    <div layout="row">
        <div flex>
            <md-card md-whiteframe="5">
                <md-input-container>
                    <label>初步诊断</label>
                    <textarea name="init_diag" ng-model="clinical_course.init_diag" rows="5"
                              md-select-on-focus>
                    </textarea>
                    <!--<div ng-messages="projectForm.init_diag.$error">-->
                        <!--<div ng-message="required">必填</div>-->
                    <!--</div>-->
                </md-input-container>
            </md-card>
        </div>
        <div flex>
            <md-card md-whiteframe="5">
                <md-input-container>
                    <label>治疗计划</label>
                    <textarea name="treat_plan" ng-model="clinical_course.treat_plan" rows="5"
                              md-select-on-focus>
                    </textarea>
                    <!--<div ng-messages="projectForm.treat_plan.$error">-->
                        <!--<div ng-message="required">必填</div>-->
                    <!--</div>-->
                </md-input-container>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <div flex>
            <md-card md-whiteframe="5">
                <md-input-container>
                    <label>诊断依据</label>
                    <textarea name="gist" ng-model="clinical_course.gist" rows="1"
                              md-select-on-focus>
                    </textarea>
                    <!--<div ng-messages="projectForm.gist.$error">-->
                        <!--<div ng-message="required">必填</div>-->
                    <!--</div>-->
                </md-input-container>
            </md-card>
        </div>
        <div flex>
            <md-card md-whiteframe="5">
                <md-input-container>
                    <label>鉴别诊断</label>
                    <textarea name="antidiastole" ng-model="clinical_course.antidiastole" rows="1"
                              md-select-on-focus>
                    </textarea>
                    <!--<div ng-messages="projectForm.antidiastole.$error">-->
                        <!--<div ng-message="required">必填</div>-->
                    <!--</div>-->
                </md-input-container>
            </md-card>
        </div>
    </div>

    <div ng-repeat="item in check_record track by $index">
        <div ng-include="'html/widget/check_record.html'"></div>
    </div>

</div>