<div ng-controller="formTabsCtrl">
    <md-tabs class="md-primary" md-dynamic-height>
        <md-tab ng-repeat="tab in tabs"
                label="{{tab.title}}"
                layout="row">
            <div class="inset" hide-sm></div>
            <div layout="row" layout-align="center center" flex-offset="5">
                <md-card flex style="margin-bottom: 500px">
                    <md-card-content>
                        <form name="projectForm">
                            <ng-include src="tab.content"></ng-include>
                            <span ng-hide="true">{{tab.status=!projectForm.$invalid}}</span>
                        </form>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <span md-colors="{background: 'yellow'}">请输入完病案号和出院时间后点击此按钮获取已录入的相应信息</span>
                        <md-button class="md-raised md-primary" ng-show="tab.title == '患者基本信息'" ng-click="getDiagInfo()">获取已录入数据</md-button>
                        <md-button class="md-fab md-mini md-primary" ng-show="tab.status">
                            <md-tooltip md-direction="left" md-visible="tooltipVisible">此页必填数据已录入完整，可以提交数据</md-tooltip>
                            <md-icon>
                                <ng-md-icon icon="check_circle"></ng-md-icon>
                            </md-icon>
                        </md-button>

                        <md-button aria-label="menu" class="md-fab md-mini md-warn" ng-show="!tab.status">
                            <md-tooltip md-direction="left" md-visible="tooltipVisible">此页必填数据未录入完整，不能提交数据</md-tooltip>
                            <md-icon>
                                <ng-md-icon icon="error"></ng-md-icon>
                            </md-icon>
                        </md-button>

                        <md-button class="md-raised md-primary" ng-click="submit()">提交</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-tab>
    </md-tabs>
</div>

